body {
  text-align: center;
  background-color: lightgreen;
}

#lettercontainer {
  background-color: white;
  border: 10px solid green;
  border-radius: 30px;
  height: 120px;
  padding: 20px;
  margin: 10px;
  display: block;
}

#letter {
  vertical-align: middle;
  height: 100px;
}
